<h1>Revisa tu cargo</h1>
<h3><%="El cargo por $#{@charge.amount/100} #{@charge.currency}, tiene un status #{@charge.status}" %></h3>
<h2><small>¡Gracias por tu compra!</small> </h2>
<p><%= @charge.inspect %></p>
